.Movie-container{
    display: flex;
    flex-direction: row;
    background: #000;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 400px;
    padding: 20% 5%;
}

.Movie{
    color: #fff;
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.Movie h1{
    font-size: 50px;
    text-align: right;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.Movie p{
    font-size: 20px;
    text-align: right;
}

.Movievideo-container{
    border: 1px solid #fff;
}

.Movievideo-container video{
    width: 600px;
}

.btn1{
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    background: none;
    color: #fdd300;
    border: 1px solid #fdd300;
    display: flex;
    float: right;
}

button:hover{
    padding: 10px 20px;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .Movie-container{
        flex-direction: column;
        height: 800px;
    }

    .Movievideo-container video{
        width: 400px;
    }

    .Movie {
        text-align: center;
    }

    .Movie h1{
        font-size: 50px;
        padding-bottom: 20px;

    }

}


@media (max-width: 1400px) {
    .Movievideo-container video {
        width: 300px;
    }

    .Movie{
        align-items: center;
    }


    .Movie h1{
        text-align: center;
    }

    .btn1{
        float: none;
        align-items: center;
    }
}

