* {
  box-sizing: border-box;
}


.nav {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 99;
}

.nav > .nav-header {
    display: inline;
}
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #111;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.navbar-brand-img {
    width: auto;
    height: 45px; /* Adjust to fit your logo */
    margin: -0.2rem auto auto 2.5rem;
    background-repeat: no-repeat;
}

/*-- Nav Items --*/
.nav > .nav-items {
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-right: 2.5rem;
}
.nav > .nav-items > a, .nav > .nav-items > label {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #fff;
    background: #000;
    cursor: pointer;
}
.nav > .nav-items > a:hover, .nav-items > label:hover {
    background-color: #000;
    border-radius: 0.3rem;
}
/*-- /Nav Items --*/

/*-- Nav dropdown --*/
input#nav-dropdown {
  display: none;
}
input#nav-dropdown ~ label {
  position: relative;
  font-weight: bold; /* Signify it is a dropdown */
}
input#nav-dropdown ~ ul {
  position: absolute;
  top: 50px; /* Trial and error */
  right: 50px; /* Hard coded. Can be calc.ed with JS or done separately for each ul element. */
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
}
input#nav-dropdown ~ ul > li {
  display: block;
  list-style-type: none;
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
}
input#nav-dropdown ~ ul > li > a {
  color: #111;
  text-decoration: none;
}
input#nav-dropdown ~ ul > li:hover {
  background-color: #f2f2f2;
  border-radius: 0.3rem;
}
input#nav-dropdown:not(:checked) ~ ul {
  display: none;
}
input#nav-dropdown:checked ~ ul {
  display: block;
}
/*-- /Nav dropdown --*/

/*-- Responsive --*/
.nav > .nav-btn {
    display: none;
}
.nav > #nav-check {
    display: none;
}
/*-- /Responsive --*/

/*----- Media Query for mobile and tablet devices -----*/
@media only screen and (max-width: 992px) { 
    /* Width covers entire screen */
    
   /* /Width Covers Entire Screen */
    /* Navbar Brand */
    .navbar-brand-img {
        margin: -0.2rem auto auto 0.8rem;
        background-repeat: no-repeat;
    }
    /* /Navbar Brand */
   /* Navbar Toggle */
   .nav > .nav-btn {
        height: 70px;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 100%;
        height: auto;
        font-size: 2rem;
        color: #111;
        margin-bottom: 0;
    }
    .nav > .nav-btn > label > span {
        display: block;
        border-top: 2px solid #fff;
        height: 10px;
        width: 22px;
        transition: all 0.1s ease-in;
    }
    /* /Navbar Toggle */
    /* Navbar Items */
    .nav > .nav-items {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #000;
        text-align: center;
        transition: all 0.3s ease-in;
        top: 70px; /* navbar height */
        left: 0px;
        z-index: 999 !important;
    }
    .nav > .nav-items > a, .nav > .nav-items > label {
        display: block;
        width: 100%;
    }
    /* /Navbar Items */
    /* Toggle State */
    .nav > #nav-check:not(:checked) ~ .nav-items {
        height: 0px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-items a, .nav > #nav-check:not(:checked) ~ .nav-items label {
      display: none;
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:first-child {
        transform: translateX(-3.5px) translateY(6px) rotate(45deg);
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-child(2) {
        display: none;
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:last-child {
        transform: translateX(3px) translateY(-4px) rotate(-45deg);
    }
    .nav > #nav-check:checked ~ .nav-items {
        height: calc(100vh - 70px);
        overflow-y: auto;
        z-index: 999 !important;
    }
    .nav > #nav-check:checked ~ .nav-items a, .nav > #nav-check:checked ~ .nav-items label {
      display: block;
    }
   /* /Toggle State */
  /* Dropdown */
    input#nav-dropdown ~ ul {
        position: static;
        margin: auto;
        padding: 0.5rem 1.5rem;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    /* /Dropdown */
}