.show-container{
    display: flex;
    flex-direction: row;
    background: #000;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 400px;
    padding: 15% 5%;
}

.Shows{
    color: #fff;
    padding: 20px;
    margin: 10%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Shows h1{
    font-size: 50px;
    text-align: left;
}

.Shows p{
    font-size: 20px;
    text-align: left;
}

.video-container{
    border: 1px solid #fff;
}

.video-container video{
    width: 600px;
}

.btn{
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    background: none;
    color: #fdd300;
    border: 1px solid #fdd300;
    display: flex;
}



button:hover{
    padding: 10px 20px;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .show-container{
        flex-direction: column;
        height: 800px;
    }

    .video-container video{
        width: 400px;
    }

    .Shows {
        text-align: center;
    }

    .Shows h1{
        font-size: 50px;
        padding-bottom: 20px;

    }

}


@media (max-width: 720px) {
    .video-container{
    }

    .video-container video {
        width: 300px;
    }

}

@media (max-width: 1400px) {
    .video-container video {
        width: 300px;
    }

    .Shows h1{
        font-size: 40px;
        text-align: center;
    }

    .Shows p{
        text-align: center;
    }

    .Shows{
        align-items: center;
    }


}

